/*window-fg-color: generic text color */
/*window-bg-color: generic background color */
/*border-color: accent color if window border is enabled*/
/*card-bg-color: background color for buttons or items that need to contrast the background*/
/*headerbar-bg-color: dark color for high contrast*/
/*panel-bg-color: panel background color*/
/*panel-fg-color: panel text color*/
/*panel-button-bg-color: panel button background color*/
/*overview-bg-color: always opaque background color*/

/* Top Bar */
#panel {
  background-color: @panel-bg-color;
  color: @panel-fg-color !important;
  font-feature-settings: "tnum";
}

#panel .panel-button {
  color: @panel-fg-color !important;
}

#panel .panel-button:hover,
#panel .panel-button:hover.clock-display .clock {
  background-color: alpha(currentColor, 0.2) !important;
}

#panel .workspace-dot {
  background-color: @panel-fg-color !important;
  color: @panel-fg-color !important;
}

.window-close {
  background-color: @window-bg-color;
  color: @window-fg-color;
}

.window-close:hover {
  background-color: @headerbar-bg-color;
}

#dashtodockContainer #dash .dash-background {
  color: @window-fg-color;
  background-color: @card-bg-color;
  border: 2px solid @border-color;
}

#dashtodockContainer.extended #dash .dash-background  {
  border: 0px solid transparent;
}

#dashtodockContainer.extended:overview #dash .dash-background {
  background-color: @overview-bg-color;
}

#dash .dash-item-container .show-apps .overview-icon,
#dash .dash-item-container .overview-tile .overview-icon,
#dash .dash-item-container .grid-search-result .overview-icon {
  color: @window-fg-color;
  background-color: transparent;
}

#dash .dash-item-container .show-apps:hover .overview-icon,
#dash .dash-item-container .overview-tile:hover .overview-icon,
#dash .dash-item-container .grid-search-result:hover .overview-icon {
  background-color: @headerbar-bg-color;
}

#dash .dash-item-container .show-apps:active .overview-icon,
#dash .dash-item-container .overview-tile:active .overview-icon,
#dash .dash-item-container .grid-search-result:active .overview-icon {
  box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.1);
}

#dash .dash-item-container .app-well-app-running-dot,
#dash .dash-item-container .app-grid-running-dot {
  background-color: @accent-color;
}

/* Tiled window previews */
.tile-preview {
  background-color: @accent-transparent;
  border: 1px solid @accent-color;
}

/* Overview stuff */
.workspace-animation, #overviewGroup {
  background-color: @overview-bg-color;
}

.icon-grid .overview-tile:hover, .grid-search-result:hover, .overview-tile:focus, .grid-search-result:focus, .overview-tile:selected, .grid-search-result:selected {
  color: @search-fg-color;
  background-color: @card-bg-color;
  background-image: none;
}

.list-search-result-title, .list-search-provider-details {
  color: @search-fg-color;
}

.list-search-result-description {
  color: @search-fg-color;
  font-weight: 300;
}

.list-search-result:hover, .list-search-result:selected, .search-provider-icon:hover, .search-section *:hover {
  box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.1);
  background-color: @card-bg-color;
}

.page-indicator-icon {
  background-color: @window-fg-color;
}

.page-navigation-arrow {
  background-color: @card-bg-color;
}

.page-navigation-arrow > StIcon {
  color: @window-fg-color;
}

.page-navigation-arrow:hover {
  background-color: @headerbar-bg-color;
}

.search-section-content  {
  color: @window-fg-color;
  background-color: @card-bg-color;
}

.app-folder {
  background-color: @card-bg-color;
  color: @window-fg-color;
}

.app-folder .overview-icon {
  background-color: transparent;
}

.app-folder:hover {
  box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.1);
  color: @window-fg-color;
}

.app-folder:active {
  background-color: @card-bg-color;
  color: @window-fg-color;
}

.app-folder-dialog {
  color: @window-fg-color;
  background-color: @window-bg-color;
  border: 2px @border-color;
}

.app-grid-running-dot {
  background-color: @accent-color;
}

.arcmenu-button {
  background-color: @card-bg-color;
  color: @window-fg-color;
}

.workspace-thumbnails .workspace-thumbnail {
  color: @window-fg-color;
  background-color: @card-bg-color;
}

.workspace-thumbnail-indicator {
  border: 3px solid @accent-color;
}

.event-time {
  color: @window-fg-color;
}

.cycler-highlight {
  border: 5px solid @accent-color;
}

.switcher-list .item-box {
  color: @window-fg-color;
}

.switcher-list .item-box:hover, .switcher-list .item-box:selected {
  background-color: @headerbar-bg-color;
}

/* screenshot-ui */
.screenshot-ui-close-button {
  background-color: @card-bg-color;
  color: @window-fg-color;
}

.screenshot-ui-close-button:hover {
  background-color: @headerbar-bg-color;
}

.screenshot-ui-capture-button {
  border: 4px @window-fg-color;
  padding: 4px;
}

.screenshot-ui-capture-button .screenshot-ui-capture-button-circle {
  background-color: @window-fg-color;
}

.screenshot-ui-capture-button:cast .screenshot-ui-capture-button-circle {
  background-color: @accent-color;
}

.screenshot-ui-show-pointer-button, .screenshot-ui-type-button {
  background-color: transparent;
  color: @window-fg-color;
}

.screenshot-ui-type-button:checked {
  background-color: @card-bg-color;
}

.screenshot-ui-show-pointer-button:hover, .screenshot-ui-type-button:hover {
  background-color: @card-bg-color;
}

.screenshot-ui-show-pointer-button:active, .screenshot-ui-type-button:active {
  box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.1);
}

.screenshot-ui-window-selector {
  background-color: @overview-bg-color;
}

.screenshot-ui-window-selector-window:hover .screenshot-ui-window-selector-window-border {
  border-color: @accent-transparent;
}

.screenshot-ui-window-selector-window:checked .screenshot-ui-window-selector-window-border {
  border-color: @accent-color;
}

.screenshot-ui-window-selector-window:checked .screenshot-ui-window-selector-check {
  background-color: @accent-color;
  color: @accent-fg-color;
}

.search-entry,
StEntry {
  background-color: @card-bg-color;
  color: @window-fg-color;
}

StLabel.hint-text:insensitive, .overview-tile {
  color: @search-fg-color;
}

.search-entry:focus,
StEntry:focus {
  background-color: @headerbar-bg-color;
}

/* Popovers/Menus */
.popup-menu-boxpointer {
  -arrow-background-color: transparent;
  -arrow-border-color: transparent;
  background: transparent;
}

.vhandle {
  background-color: @card-bg-color;
}

.popup-menu {
  color: @window-fg-color !important;
}

.popup-menu .popup-menu-content {
  background-color: @window-bg-color;
  border: 2px @border-color;
}

.popup-menu .popup-menu-item {
  color: @window-fg-color !important;
}

.popup-inactive-menu-item:insensitive {
  color: @window-fg-color;
}

.popup-menu .popup-menu-item:checked, .popup-menu-item:active {
  color: @window-fg-color !important;
  background-color: @card-bg-color;
}

.popup-menu .popup-menu-item:checked:focus, .popup-menu .popup-menu-item:checked:hover, .popup-menu .popup-menu-item:checked.selected {
  box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.1);
  color: @window-fg-color !important;
}

.popup-menu .popup-menu-item:checked:active {
  color: @window-fg-color !important;
}

.popup-menu .popup-menu-item:checked:insensitive {
  color: @window-fg-color !important;
}

.popup-menu .popup-menu-item:focus, .popup-menu .popup-menu-item:hover, .popup-menu .popup-menu-item.selected {
  color: @window-fg-color !important;
  background-color: @card-bg-color !important;
}

.popup-menu .popup-menu-item:active, .popup-menu .popup-menu-item.selected:active {
  color: @window-fg-color !important;
}

.popup-menu .popup-menu-item:insensitive {
  color: @window-fg-color !important;
}

.popup-menu .popup-sub-menu, .popup-menu .popup-sub-menu .popup-menu-item:open {
  background-color: @card-bg-color !important;
  color: @window-fg-color !important;
}

.popup-menu .popup-sub-menu .popup-menu-item:focus, .popup-menu .popup-sub-menu .popup-menu-item:hover, .popup-menu .popup-sub-menu .popup-menu-item.selected {
  box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.1);
}

.popup-menu .popup-sub-menu .popup-menu-item:active, .popup-menu .popup-sub-menu .popup-menu-item.selected:active {
   color: @window-fg-color !important;
   background-color: @card-bg-color !important;
}

.popup-menu .popup-sub-menu .popup-menu-item:insensitive {
  color: @window-fg-color !important;
}

.popup-menu .popup-inactive-menu-item {
  color: @window-fg-color !important;
}

.popup-menu .popup-inactive-menu-item:insensitive {
  color: @window-fg-color !important;
}

.quick-settings .icon-button, .quick-settings .message-notification-group .message-collapse-button, .message-notification-group .quick-settings .message-collapse-button, .quick-settings .message .message-header .message-expand-button, .message .message-header .quick-settings .message-expand-button,
.quick-settings .message .message-header .message-close-button,
.message .message-header .quick-settings .message-close-button, .quick-settings .button {
  background-color: @card-bg-color;
  color: @window-fg-color;
}

.quick-settings .icon-button > StIcon, .quick-settings .message-notification-group .message-collapse-button > StIcon, .message-notification-group .quick-settings .message-collapse-button > StIcon, .quick-settings .message .message-header .message-expand-button > StIcon, .message .message-header .quick-settings .message-expand-button > StIcon,
.quick-settings .message .message-header .message-close-button > StIcon,
.message .message-header .quick-settings .message-close-button > StIcon {
  color: @window-fg-color;
}

.quick-toggle, .quick-toggle-has-menu {
  background-color: @card-bg-color !important;
  border: none;
  outline: none;
}

.quick-toggle {
  background-color: @card-bg-color !important;
}

.quick-toggle:hover {
  background-color: @headerbar-bg-color !important;
  color: @window-fg-color !important;
}

.quick-toggle:active {
  background-color: @headerbar-bg-color !important;
  box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.1);
}

.quick-toggle:checked {
  background-color: @accent-color !important;
  color: @accent-fg-color !important;
}

.quick-toggle:checked:hover {
  background-color: @headerbar-bg-color !important;
  color: @window-fg-color;
}

.quick-toggle:checked:active {
  background-color: @headerbar-bg-color !important;
  box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.1);
}

.quick-toggle.button {
  color: @window-fg-color;
}

.quick-toggle.button:checked:hover {
  background-color: @accent-color !important;
  box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.3);
  color: @accent-fg-color !important;
}

.quick-toggle-has-menu .quick-toggle-separator {
  background-color: @headerbar-bg-color !important;
  opacity: 0.1 !important;
}

.quick-toggle-has-menu .quick-toggle-menu-button {
  background-color: @card-bg-color;
}

.quick-toggle-has-menu .quick-toggle-menu-button:hover {
  background-color: @headerbar-bg-color !important;
}

.quick-toggle-has-menu .quick-toggle-menu-button:active {
  background-color: @headerbar-bg-color !important;
  box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.1);
}

.quick-toggle-has-menu .quick-toggle-menu-button:checked {
  background-color: @accent-color !important;
  color: @accent-fg-color !important;
  box-shadow: inset 0 0 100px 100px rgba(0, 0, 0, 0.12) !important;
}

.quick-toggle-has-menu .quick-toggle-menu-button:checked:hover {
  box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.3) !important;
  color: @window-bg-color !important;
}

.quick-toggle-has-menu .quick-toggle-menu-button:checked:active {
  background-color: @accent-color !important;
  color: @accent-fg-color !important;
}

.device-subtitle {
  color: @window-fg-color;
}

.slider {
  color: @window-fg-color !important;
  -barlevel-background-color: @card-bg-color;
  -barlevel-active-background-color: @accent-color;
}

.quick-toggle-menu-button.icon-button:last-child > StIcon {
  color: @window-fg-color;
}


.quick-toggle-menu-button.icon-button:last-child:checked > StIcon,
.quick-toggle-menu-button.icon-button:last-child:checked:hover > StIcon {
  color: @accent-fg-color !important;
}

.quick-slider .icon-button, .quick-slider .message-notification-group .message-collapse-button, .message-notification-group .quick-slider .message-collapse-button, .quick-slider .message .message-header .message-expand-button, .message .message-header .quick-slider .message-expand-button,
.quick-slider .message .message-header .message-close-button,
.message .message-header .quick-slider .message-close-button {
  color: @window-fg-color;
}

.quick-slider .icon-button:hover, .quick-slider .message-notification-group .message-collapse-button:hover, .message-notification-group .quick-slider .message-collapse-button:hover, .quick-slider .message .message-header .message-expand-button:hover, .message .message-header .quick-slider .message-expand-button:hover,
.quick-slider .message .message-header .message-close-button:hover,
.message .message-header .quick-slider .message-close-button:hover {
  background-color: @headerbar-bg-color;
  color: @window-fg-color;
}

.quick-slider .icon-button:active, .quick-slider .message-notification-group .message-collapse-button:active, .message-notification-group .quick-slider .message-collapse-button:active, .quick-slider .message .message-header .message-expand-button:active, .message .message-header .quick-slider .message-expand-button:active,
.quick-slider .message .message-header .message-close-button:active,
.message .message-header .quick-slider .message-close-button:active {
  box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.3);
  /* background-color: @window-bg-color; */
}

.icon-button {
  background-color: @card-bg-color !important;
  color: @window-fg-color !important;
}

.icon-button:hover {
  background-color: @headerbar-bg-color !important;
}

.icon-button:active {
  box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.2) !important;
}

.title, .popup-menu-item {
  color: @window-fg-color !important;
}

.quick-toggle-menu {
  background-color: @window-bg-color !important;
  color: @window-fg-color;
}

.quick-toggle-menu .popup-menu-item:focus, .quick-toggle-menu .popup-menu-item:hover, .quick-toggle-menu .popup-menu-item.selected {
  color: @window-fg-color;
  background-color: @headerbar-bg-color !important;
}

.quick-toggle-menu .popup-menu-item:active {
  box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.1);
  background-color: @headerbar-bg-color !important;
}

.quick-toggle-menu .popup-menu-item:active > StLabel {
  color: @window-fg-color;
}

.power-item {
  color: @window-fg-color !important;
}

.quick-settings-system-item .power-item:insensitive {
  background-color: transparent;
}

.icon {
  background-color: @accent-color !important;
  color: @accent-fg-color !important;
}

/* On-Screen Keyboard */
#keyboard {
  background-color: @window-bg-color !important;
  color: @window-fg-color !important;
}

.keyboard-key  {
  background-color: @card-bg-color !important;
  color: @window-fg-color !important;
}

.keyboard-subkeys-boxpointer {
  -arrow-background-color: @window-bg-color !important;
  -arrow-border-width: 0;
}

.keyboard-key:focus, .keyboard-key:hover {
  background-color: @headerbar-bg-color !important;
}

.keyboard-key:active {
  box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.1) !important;
}

.keyboard-key.shift-key-uppercase,
.keyboard-key.shift-key-uppercase:focus,
.keyboard-key.shift-key-uppercase:hover,
.keyboard-key.shift-key-uppercase:checked,
.keyboard-key.shift-key-uppercase:active {
  color: @accent-color !important;
}

.word-suggestions {
  color: @window-fg-color !important;
}

.word-suggestions > StButton:hover {
  background-color: @headerbar-bg-color !important;
  color: @window-fg-color !important;
}

/* Calendar */
.calendar {
  background-color: transparent !important;
  color: @window-fg-color !important;
}

.calendar .calendar-month-label,
.calendar .calendar-month-header {
  color: @window-fg-color !important;
  background-color: transparent !important;
}

.calendar .pager-button {
  background-color: transparent !important;
  color: @window-fg-color !important;
}

.calendar .pager-button:active,
.calendar .pager-button:hover,
.calendar .pager-button:focus {
  background-color: @card-bg-color !important;
}

.calendar .calendar-day {
  color: @window-fg-color !important;
  font-feature-settings: "tnum";
  background-color: transparent !important;
}

.calendar .calendar-day:hover, .calendar .calendar-day:focus {
  background-color: @card-bg-color !important;
  color: @window-fg-color !important;
}

.calendar .calendar-day:active {
  background-color: @headerbar-bg-color !important;
}

.calendar .calendar-day.calendar-weekend,
.calendar .calendar-day,
.calendar .calendar-nonwork-day,
.calendar .calendar-day-top,
.calendar .calendar-day-left,
.calendar .calendar-day-with-events .calendar-work-day {
  color: @window-fg-color !important;
}

.calendar .calendar-day:selected,
.calendar .calendar-today:focus,
.calendar .calendar-today:selected {
  background-color: @accent-color !important;
  color: @accent-fg-color !important;
}

/* .calendar .calendar-day-with-events { */
/*   color: @window-fg-color; */
/*   background-image: url("resource:///org/gnome/shell/theme/calendar-today-light.svg") !important; */
/* } */

.calendar .calendar-other-month,
.calendar .calendar-other-month.calendar-weekend {
  color: @window-fg-color !important;
}

.calendar .calendar-day-heading {
  background-color: transparent !important;
  color: @window-fg-color !important;
}

.calendar .calendar-week-number {
  background-color: @card-bg-color;
  color: @window-fg-color;
  font-feature-settings: "tnum";
}

.weather-header:insensitive, .world-clocks-header:insensitive, .event-placeholder:insensitive, .events-title {
  color: @window-fg-color;
}

.world-clocks-timezone:insensitive {
  color: @window-fg-color;
}

.notification,
.notification-banner {
  background-color: @card-bg-color;
  color: @window-fg-color;
}

/* .notification:hover, */
/* .notification-banner:hover { */
/*   background-color: @card-bg-color; */
/*   color: @window-fg-color; */
/* } */

.date-menu .notification-icon,
.date-menu .system-status-icon {
    color: @window-fg-color;
}

.notification-button {
    box-shadow: inset 0 0 100px 100px rgba(140, 140, 140, 0.2);
    background-color: @card-bg-color;
    color: @window-fg-color;
}

.notification-button:hover {
    background-color: @accent-color;
    color: @accent-fg-color;
}

.message-list-clear-button {
    color: @window-fg-color;
    background-color: @card-bg-color;
}

.message-expand-button {
    color: @window-fg-color;
    background-color: @card-bg-color;
}

.message-expand-button:hover {
    color: @accent-fg-color;
    background-color: @accent-color;
}

.datemenu-today-button {
  background: none !important;
  color: @window-fg-color !important;
}

/* Date/Time Menu */
.world-clocks-button,
.weather-button,
.events-button {
  color: @window-fg-color;
  background-color: @card-bg-color;
}

.world-clocks-button:hover,
.weather-button:hover,
.events-button:hover, .world-clocks-button:focus,
.weather-button:focus,
.events-button:focus {
  color: @window-fg-color;
  background-color: @card-bg-color;
}

.world-clocks-button:active,
.weather-button:active,
.events-button:active {
  color: @window-fg-color;
  background-color: @card-bg-color;
}

.screenshot-ui-panel, .workspace-switcher-container, .switcher-list, .resize-popup, .osd-window {
  color: @window-fg-color;
  background-color: @window-bg-color;
  border: 2px @border-color;
}

.osd-window {
  background-color: @window-bg-color;
}

.osd-window .level {
  background-color: @window-bg-color;
  color: @window-fg-color;
  -barlevel-background-color: @card-bg-color;
  -barlevel-active-background-color: @accent-color;
  -barlevel-overdrive-color: @red-1;
  -barlevel-overdrive-separator-width: 2px;
  -barlevel-border-width: 0;
  -barlevel-border-color: @window-bg-color;
}

.osd-window .level-bar {
  background-color: @card-bg-color;
}

.pad-osd-window {
  background-color: @window-bg-color;
}

.message-list {
  background-color: transparent;
  color: @window-fg-color !important;
  outline: none;
  border-right: 1px solid @window-fg-color !important;
}

.toggle-switch {
  color: @window-fg-color;
  background-color: @card-bg-color;
}

.toggle-switch:checked {
  background-color: @accent-color;
}

.message {
  background-color: @card-bg-color;
}

.message:second-in-stack {
  box-shadow: inset 0 0 100px 100px rgba(0, 0, 0, 0.1) !important;
}

.message:lower-in-stack {
  box-shadow: inset 0 0 100px 100px rgba(0, 0, 0, 0.2) !important;
}

.message-list-placeholder,
.message-header,
.message-body,
.message-icon,
.message-title {
  color: @window-fg-color;
}

.message-close-button {
  background-color: @accent-color;
  color: @accent-fg-color;
}

.message-media-control {
  color: @window-fg-color;
}

.message-media-control:hover, .message-media-control:focus {
  background-color: @accent-color;
  color: @accent-fg-color;
}

.modal-dialog .modal-dialog-button-box .modal-dialog-button, .lg-obj-inspector-button, #LookingGlassDialog > #Toolbar .lg-toolbar-button, .candidate-page-button, .message .message-header .flat.message-expand-button,
.message .message-header .flat.message-close-button, .message-notification-group .flat.message-collapse-button {
  color: @window-fg-color;
  background-color: @card-bg-color;
}

.modal-dialog .modal-dialog-button-box .modal-dialog-button:hover, .lg-obj-inspector-button:hover, #LookingGlassDialog > #Toolbar .lg-toolbar-button:hover, .candidate-page-button:hover, .icon-button.flat:hover, .message .message-header .flat.message-expand-button:hover,
.message .message-header .flat.message-close-button:hover, .message-notification-group .flat.message-collapse-button:hover, .button.flat:hover, .popup-menu .button:hover {
  color: @accent-fg-color;
  background-color: @accent-color;
}

.modal-dialog {
  background-color: @window-bg-color;
  color: @window-fg-color;
}

.icon-button:last-child {
  color: @window-fg-color;
  background-color: @card-bg-color;
}

.icon-button:last-child:hover {
  color: @window-fg-color;
  background-color: @headerbar-bg-color;
}

/* Login Dialog */
#lockDialogGroup {
  background-color: @window-bg-color !important;
  color: @window-fg-color !important;
}

.login-dialog,
.unlock-dialog {
  background-color: transparent !important;
}

.login-dialog StEntry,
.unlock-dialog > StEntry,
.login-dialog > StEntry,
.unlock-dialog > StEntry {
  background-color: @card-bg-color !important;
  color: @window-fg-color !important;
}

.login-dialog StEntry:focus,
.unlock-dialog StEntry:focus {
  background-color: @headerbar-bg-color;
  color: @window-fg-color;
}

.login-dialog StEntry StLabel.hint-text,
.unlock-dialog StEntry StLabel.hint-text {
  color: @window-fg-color !important;
}

.login-dialog .modal-dialog-button,
.unlock-dialog .modal-dialog-button {
  color: @window-fg-color;
  background-color: @card-bg-color;
}

.login-dialog .modal-dialog-button:hover,
.login-dialog .modal-dialog-button:focus,
.unlock-dialog .modal-dialog-button:hover,
.unlock-dialog .modal-dialog-button:focus {
  color: @window-fg-color;
  background-color: @window-bg-color;
}

.login-dialog .modal-dialog-button:active,
.unlock-dialog .modal-dialog-button:active {
  color: @color-fg-color;
  background-color: @card-bg-color;
}

.login-dialog .modal-dialog-button:insensitive,
.unlock-dialog .modal-dialog-button:insensitive,
.login-dialog .modal-dialog-button:default,
.unlock-dialog .modal-dialog-button:default {
  color: @window-fg-color;
  background-color: @card-bg-color !important;
}

.login-dialog .modal-dialog-button:default:hover,
.login-dialog .modal-dialog-button:default:focus,
.unlock-dialog .modal-dialog-button:default:hover,
.unlock-dialog .modal-dialog-button:default:focus {
  color: @window-fg-color;
  background-color: @headerbar-bg-color;
}

.login-dialog .modal-dialog-button:default:active,
.unlock-dialog .modal-dialog-button:default:active {
  color: @window-fg-color;
  background-color: @card-bg-color;
}

.login-dialog .modal-dialog-button:default:insensitive,
.unlock-dialog .modal-dialog-button:default:insensitive {
  color: @window-fg-color;
  background-color: @card-bg-color;
}

.login-dialog .cancel-button,
.login-dialog .switch-user-button,
.login-dialog .login-dialog-session-list-button,
.unlock-dialog .cancel-button,
.unlock-dialog .switch-user-button,
.unlock-dialog .login-dialog-session-list-button {
  background-color: @card-bg-color;
  color: @window-fg-color;
}


.login-dialog .cancel-button:hover,
.login-dialog .switch-user-button:hover,
.login-dialog .login-dialog-session-list-button:hover,
.unlock-dialog .cancel-button:hover,
.unlock-dialog .switch-user-button:hover,
.unlock-dialog .login-dialog-session-list-button:hover {
  background-color: @headerbar-bg-color;
}

.login-dialog .login-dialog-message-warning,
.unlock-dialog .login-dialog-message-warning {
  color: @window-fg-color;
}

/* .login-dialog-button * { */
/*   background-color: @window-fg-color; */
/*   color: @card-bg-color; */
/* } */

/* .login-dialog-button *:hover { */
/*   background-color: @headerbar-bg-color; */
/* } */

.login-dialog-banner {
  color: @window-fg-color !important;
}

.login-dialog-not-listed-button {
  background-color: @card-bg-color !important;
  color: @window-fg-color !important;
}

.login-dialog-not-listed-button:focus,
.login-dialog-not-listed-button:hover {
  color: @window-fg-color !important;
  background-color: @headerbar-bg-color !important;
}

/* .login-dialog-not-listed-button:hover { */
/*   color: @window-fg-color; */
/*   background: @headerbar-bg-color; */
/* } */

.login-dialog-user-list:expanded .login-dialog-user-list-item:selected,
.login-dialog-user-list:expanded .login-dialog-user-list-item:hover,
.login-dialog-user-list:expanded .login-dialog-user-list-item:active {
  color: @window-fg-color !important;
}

.login-dialog-not-listed-button:active,
.login-dialog-user-list-item:active,
.login-dialog-user-list-item:focus:active,
.login-dialog-user-list-item:insensitive:active {
  box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.1) !important;
}

.login-dialog-user-list-item,
.login-dialog-user-list-item:default,
.login-dialog-user-list-item:insensitive {
  background-color: @card-bg-color !important;
  color: @window-fg-color !important;
}

/* .login-dialog-user-list-item:focus { */
/*   background-color: @headerbar-bg-color !important; */
/* } */

.login-dialog-user-list-item:hover, .login-dialog-user-list-item:focus:hover {
  background-color: @headerbar-bg-color !important;
  color: @window-fg-color !important;
}

/* .login-dialog-user-list-item:active, .login-dialog-user-list-item:focus:active { */
/*   background-color: @window-bg-color !important; */
/*   color: @window-fg-color !important; */
/* } */

.login-dialog-user-list-item .login-dialog-timed-login-indicator {
  background-color: @window-bg-color !important;
}

.user-widget-label {
  color: @window-fg-color !important;
}

*.a11y-button {
  background-color: @card-bg-color !important;
  color: @window-fg-color !important;
}

*.a11y-button:hover {
  background-color: @headerbar-bg-color !important;
}

.login-dialog-message-hint,
.login-dialog-prompt-label,
.caps-lock-warning-label {
  color: @window-fg-color !important;
}

.audio-selection-device-box {
  color: @window-fg-color !important;
}

.audio-selection-device:hover {
  background-color: @card-bg-color !important;
}
